* {
  margin: 0;
  padding: 0;
}

.banner {
  height: 70px;
  background-color: #1a2170;
}
p {
  color: white;
  text-align: center;
}
a {
  color: white;
  font-size: 12px;
  margin-left:740px;
  text-align: center;
  font-family: "Cabin", sans-serif;
}
.bottom-banner {
  height: 25px;
  display: flex;
  margin: auto;
  background-color: #2e3690;
  position: absolute;
  width: 100%;
  bottom: 0;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-style: bold;
  text-align: center;
  color: white;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  text-align: center;
  color: white;
}
.back {
  height: 88%;
  width: 100%;
  display: flex;
  background-color: #e0e0e0;
  position: absolute;
}

.form-box {
  width: 400px;
  height: 450px;
  position: relative;
  margin: 5% auto;
  background-color: #e1f5fe;
  color: #fff;
  padding: 5px;
  overflow: hidden;
  border-spacing: 0;
  box-shadow: 0 2px 12px rgba(32, 32, 32, 0.3);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: 0.5s;
}
.input-field {
  width: 100%;
  padding: 10px 0;
  border-right: 0;
  border-left: 0;
  margin-top: 15px;
  border-top: 0;
  border-bottom: 0.5px solid rgb(0, 0, 0);
  outline: transparent;
  background: transparent;
}
.btn-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0, 0, 20px, 9px, #1f288b;
  border-radius: 30px;
}
.toggle-btn {
  font-family: "Cabin", sans-serif;
  font-size: 14px;
  padding: 10px 30px;
  color: black;
  cursor: pointer;
  background: transparent;
  border: 0;
  position: relative;
}
#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #bdced6;
  border-radius: 18px;
  transition: 0.5s;
}


.submit-btn {
  font-size: 15px;
  color: white;
  font-family: "Cabin", sans-serif;
  width: 85%;
  margin-bottom: -305px;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 2% auto;
  background: #1f288b;
  border: 0;
  outline: none;
  border-radius: 15px;
}
.active,
.submit-btn:hover {
  background-color: #00ab66;
  color: white;
}
#login {
  left: 65px;
}
#registerAdmin {
  left: 450px;
}
