* {
  margin: 0;
  padding: 0;
}

.banner {
  height: 70px;
  background-color: #1a2170;
}

h2 {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  text-align: center;
  top:50px;
  display: inline;
  color: black;
}
h3 {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  display: inline;
  color: red;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-style: bold;
  text-align: center;
  color: white;
}

.back {
  text-align: center;
  height: 90.5%;
  width: 100%;
  display: flex;
  background-color: #e0e0e0;
  position: absolute;
  -webkit-transform: transparent;
}

.form-box {
  width: 400px;
  height: 500px;
  position: relative;
  border: solid 5px black;
  margin: 4.5% auto;
  background-color: #e1f5fe;
  color: rgb(255, 255, 255);
  padding: 5px;
  border: #1a2170;
  border-spacing: 0;
  box-shadow: 0 2px 12px rgba(32, 32, 32, 0.3);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}

.btn-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0, 0, 20px, 9px, rgb(72, 65, 217);
  border-radius: 30px;
}

.submit-btn {
  font-size: 15px;
  color: white;
  font-family: "Kanit", sans-serif;
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #1f288b;
  border: 0;
  outline: none;
  border-radius: 10px;
}
.active,
.submit-btn:hover {
  background-color: #00ab66;
  color: white;
}
.logout-btn {
  font-size: 15px;
  color: white;
  font-family: "Kanit", sans-serif;
  width: 30%;
  margin-bottom: -305px;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #000000;
  border: 0;
  outline: none;
  border-radius: 10px;
}

.active,
.logout-btn:hover {
  background-color: #f00e0e;
  color: white;
}

#login {
  left: 50px;
}
#registerAdmin {
  left: 450px;
}
